$input-color: #7b14f1;
$button-color: #f4b9b2;
$info-color: #d6dee2;
$comment-highlight-color: #de6b48;
$danger-color: #ec0a4e;

@mixin button($color) {
  background-color: $color;
  border: none;
  &:hover {
    background-color: lighten($color, 10);
  }
  &:active {
    background-color: lighten($color, 20);
  }
}

html,
*,
*:before,
*:after {
  box-sizing: border-box;
  color: #2d3436;
}

html,
body,
input {
  font: menu;
}

input,
button {
  display: block;
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 5px;
  }
  &:focus {
    outline: none;
  }
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border: none;
  border-bottom: 2px solid $info-color;
  font-size: 1.5em;
  padding: 0.5em;
}

button,
input[type="submit"],
.button {
  display: block;
  width: 100%;
  font-size: 1.1em;
  padding: 0.5em 1em;
  @include button($button-color);
  transition: all 0.2s ease-out;
  border-radius: 3px;
  &.star,
  &.create,
  &.update {
    @include button($input-color);
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
  &.delete {
    @include button($danger-color);
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
  &.create {
    width: 130px;
    margin: 1em 0 1em auto;
    text-transform: uppercase;
    border: 2px solid $input-color;
    background-color: transparent;
    color: $input-color;

    &:hover {
      color: white;
    }
  }
}

input[type="file"] {
  margin: 1em 0;
  padding: 1em 0;
}

.Application {
  max-width: 600px;
  margin: auto;
}

%authentication {
  border: 1px solid $input-color;
  padding: 1em;
  margin-bottom: 1em;
  h2 {
    margin: 0.5em 0.5em;
    padding: 0.5em;
    border-left: 5px solid $info-color;
  }
}

.SignIn {
  @extend %authentication;
}

.SignUp {
  @extend %authentication;
}

.CurrentUser {
  @extend %authentication;
  .CurrentUser--profile {
    display: flex;
    margin-bottom: 0.5em;
  }
  .CurrentUser--information {
    flex: 4;
  }
  img {
    flex: 1;
    margin-right: 1em;
    max-height: 150px;
  }
  h2 {
    margin-bottom: 1em;
  }
  .created-at:before {
    content: "Joined";
    color: $comment-highlight-color;
    font-weight: bold;
    margin: 0.5em 0.5em;
  }
  .email:before {
    content: "Email";
    color: $comment-highlight-color;
    font-weight: bold;
    margin: 0.5em 0.5em;
  }
}

.AddPost,
.AddComment {
  margin-bottom: 1em;
}

.AddComment {
  display: flex;
  input {
    margin: 0;
    padding: 0.5em;
  }
  input[type="text"] {
    flex: 3;
  }
  input[type="submit"] {
    flex: 1;
  }
}

.Post {
  background-color: #fafafa;
  margin-bottom: 2em;
  box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.1);
  border-top: 2px solid $input-color;
}

.Post--content {
  padding: 1em;
  h3 {
    margin-top: 0;
  }
}

.Post--meta {
  padding: 0.5em;
  background-color: $info-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    display: inline-block;
    margin: 1em;
  }
  button {
    display: inline-block;
    width: auto;
    &:not(:last-child) {
      margin-right: 5px;
      margin-bottom: 0;
    }
  }
}

.Comment {
  margin: 1em 0;
}

.Comment--author {
  color: $comment-highlight-color;
  font-weight: bold;
  &:after {
    content: ": ";
  }
}

.Comment--timestamp {
  color: darken($info-color, 40);
  &:before {
    content: " ";
  }
}
